.main-content {
    background-color: #ffffff;  /* light background as you wanted */
    min-height: calc(100vh - 64px - 40px); /* Adjust based on header + marketbar height */
    z-index: 600;
    margin: 0.7rem 6rem; /* Outer spacing: top, right, bottom, left */
    border-radius: 14px;
  }
  